<div class="card" data-id="{{this.id}}" data-totalclicks="{{this.totalClicks}}" data-dailyclicks="{{this.dailyClicks}}">
    {{!-- <button type="button" class="btn btn-lg logout-btn">
        <a href="">
            <span class="material-icons clear"></span>
        </a>
    </button> --}}
    <a href="{{this.url}}" target="_blank">
        <img class="card-img-top" src="http://placehold.it/300x300&amp;text=CardPlaceholder" alt="">
        <div class="card-body">
            <h4 class="card-title">{{this.title}}</h4>
            <hr>
            <span>
                <p class="card-text">
                    {{this.description}}
                    <br>
   
                    posted by : {{this.User.username}}  
                    <br> Total Clicks: {{this.totalClicks}} | Daily Clicks: {{this.dailyClicks}} | Top500?: {{this.top500}}
                </p>
            </span>
        </div>
    </a>
</div>
<button id ="{{this.id}}"  data-userID={{this.UserId}} data-linkID={{this.id}} class="follow-btn btn btn-primary follow">Follow User</button>


