<a href="{{this.url}}">
    <div class="card" data-id="{{this.id}}">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">{{this.title}}</h4>
            <p class="card-text">
                {{this.description}}
                <br>
                Total Clicks: {{this.totalClicks}}
                Daily Clicks: {{this.dailyClicks}}
                Top500?: {{this.top500}}
                </p>
        </div>
    </div>
</a>
