<div class="card" data-id="{{this.id}}" data-totalclicks="{{this.totalClicks}}" data-dailyclicks="{{this.dailyClicks}}" data-top500="{{this.top500}}">
    <a href="{{this.url}}" target="_blank">
        <img class="card-img-top" src="http://placehold.it/300x300&amp;text=CardPlaceholder" alt="">
        <div class="card-body">
            <h4 class="card-title">{{this.title}}</h4>
            <hr>
            <span>
                <p class="card-text">
                    {{this.description}}
                    <br>
                    Posted by: {{this.User.username}}
                    <br> Total Clicks: {{this.totalClicks}} <br> Daily Clicks: {{this.dailyClicks}}
                </p>
            </span>
              </a>

        </div>
</div>
            <button id="{{this.id}}"  data-userID={{this.UserId}} data-linkID={{this.id}} class="follow-btn followBtn btn btn-primary follow">Follow</button>

<!-- <button id ="{{this.id}}"  data-userID={{this.UserId}} data-linkID={{this.id}} class="follow-btn btn btn-primary follow">Follow User</button> -->
